<h1>DragonBall Page</h1>

<hr>

<section class="row">
  <div class="col-12 col-sm-6" >
    <h3>Agregar:</h3>
    <input type="text" class="form-control" placeholder="Nombre">
    <input type="number" class="form-control mt-2" placeholder="Poder">
    <button class="mt-4 btn btn-primary">
      agregar
    </button>
  </div>

  <div class="col-12 col-sm-6">
    <h3>Listado</h3>
    <ul>

      @for (item of characters(); track item.id; let odd = $odd) {
<!--        @if (odd){-->
        <li>
          <strong>{{ odd }} </strong>
          <span>{{ item.id }} </span>
          <span>{{ item.name }}</span>
          <strong [class.text-danger]="item.power > 9000"
                  [class.text-primary]="item.power < 9000"
          > {{ item.power }} </strong>

        </li>
<!--        }-->
      } @empty {
        <li>There are no items.</li>
      }


    </ul>
  </div>
</section>
