<h1>DragonBall Page</h1>

<hr>

<section class="row">
  <div class="col-12 col-sm-6">
    <h3>Agregar:</h3>
    <input [value]="name()" type="text" class="form-control" placeholder="Nombre"
           (input)="name.set(txtName.value)"
           #txtName
    >

    <input [value]="power()" type="number" class="form-control mt-2" placeholder="Poder"
           (input)="power.set(+txtPower.value)"
           #txtPower
    >
    <button class="mt-4 btn btn-primary" (click)="addNewCharacter()">
      agregar
    </button>
  </div>

  <div class="col-12 col-sm-6">
    <character-list [listCharacters]="this.listCharacters()"/>
    <h3>Listado</h3>

  </div>
</section>
